<div *ngIf="event$ | async as event" class="event-detail-container">
  <h2>{{ event.name }}</h2>
  <p><strong>Beschreibung:</strong> {{ event.description }}</p>
  <p><strong>Ort:</strong> {{ event.location }}</p>
  <p><strong>Datum:</strong> {{ event.date | date: 'full' }}</p>

  <div *ngIf="authService.getUserRole() === 'organizer' && authService.getUserId() === event.organizerId" class="actions">
    <hr>
    <button class="edit-button" [routerLink]="['/events', event._id, 'edit']">Event Bearbeiten</button>
    <button class="delete-button" (click)="onDelete(event._id)">Event Löschen</button>
  </div>
</div>

<div *ngIf="!(event$ | async)">
  <p>Lade Event-Details...</p>
</div>